.Counter {
  display: flex;
  flex-direction: column;
}
/* --- Remains --- */
.container .remains {
  color: var(--text-color);
  font-size: 5rem;
}
/* --- Numbers --- */
.container .number {
  grid-area: number;
  color: var(--text-color);
  font-size: 7rem;
}
/* --- Hours minutes and seconds digit --- */
.container .digit {
  color: var(--text-color);
  font-size: 1.5rem;
}
/* --- Hours minutes and seconds text --- */
.container .text {
  color: var(--main-color);
  font-size: 1.5rem;
}
